<div class="bg-white relative text-black">

  <!-- Logo Top Left -->
  <div class="absolute top-4 left-4 z-50 w-10 sm:w-16">
    <img src="../../../assets/Group 1597881308 (1).svg" alt="Logo" class="w-full h-auto" />
  </div>

  <!-- Main Layout -->
  <div class="main-wrapper flex flex-col lg:flex-row min-h-[100dvh] max-h-screen overflow-auto">

    <!-- Left: Login Form -->
    <div class="form-section flex-1 flex items-center justify-center px-4 py-6 min-h-[100dvh]">
      <div class="form-inner w-full max-w-[50rem] space-y-6">

        <!-- Heading -->
        <div class="text-center">
          <h2 class="text-2xl sm:text-3xl font-medium text-gray-900">Login to Continue</h2>
          <p class="text-sm text-gray-500 mt-1">
            New to DroneLeaf?
            <span class="text-[#009169] font-medium cursor-pointer" (click)="goToRegister()">Create an account</span>
          </p>
        </div>

        <!-- Form Starts -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">

          <!-- Email Input -->
          <app-text-input [control]="loginForm.get('email')" label="Email Address*" placeholder="name@email.com"
            [type]="'email'" [required]="true">
          </app-text-input>

          <!-- Password Input -->
          <app-text-input [control]="loginForm.get('password')" label="Password*" placeholder="Enter password"
            [type]="'password'" [required]="true">
          </app-text-input>

          <!-- Remember Me + Forgot -->
          <div class="flex items-center justify-between text-sm">
            <label class="flex items-center gap-2 cursor-pointer">
              <input type="checkbox" formControlName="rememberMe"
                class="h-[16px] w-[16px] rounded border border-[#D1DADF] appearance-none checked:bg-[#009169] checked:border-[#009169] checked:bg-[url('/assets/check-white.svg')] checked:bg-no-repeat checked:bg-center checked:bg-[length:12px_12px] transition" />
              <span>Remember me</span>
            </label>

            <a href="#" class="text-[#009169] hover:underline">Forgot password?</a>
          </div>


          <!-- Login Button -->
          <app-button type="submit" label="Login" [fullWidth]="true" [disabled]="loginForm.invalid">
          </app-button>
        </form>
      </div>
    </div>

    <!-- Right Image (hidden on small screens) -->
    <div class="side-image hidden lg:block w-full max-w-[33rem]">
      <img src="../../../assets/Frame 16.png" alt="Login image" class="object-cover w-full h-full" />
    </div>
  </div>

  <!-- Help Button Bottom -->
  <div class="block sm:absolute bottom-6 left-4 z-50 pt-2">
<app-help-button></app-help-button>
  </div>
</div>
