<div class="flex flex-col gap-1 pb-4" (click)="markTouched()">
  <label class="text-sm font-medium mb-1" [class.required]="required">
    {{ label }}
    <span *ngIf="required" class="required-asterisk">*</span>
  </label>

  <!-- Dropdown Container -->
  <div class="relative w-full" #dropdownRef>
    <!-- Control -->
    <div
      class="w-full border rounded-md px-3 py-2 text-sm bg-white cursor-pointer flex justify-between items-center"
      [ngClass]="{
        'border-red-500': isInvalid,
        'border-green-500': isValid
      }"
      (click)="toggleDropdown()"
    >
      <span class="truncate text-gray-800" *ngIf="control.value; else placeholderTpl">
        {{ control.value }}
      </span>
      <ng-template #placeholderTpl>
        <span class="text-gray-400">{{ placeholder }}</span>
      </ng-template>

      <ion-icon
        [name]="isOpen ? 'chevron-up' : 'chevron-down'"
        class="text-gray-400 text-lg ml-2"
      ></ion-icon>
    </div>

    <!-- Dropdown Options -->
    <div
      *ngIf="isOpen"
      class="absolute left-0 mt-1 w-full bg-white border border-[#009169] rounded shadow z-50 max-h-60 overflow-y-auto"
    >
      <div
        *ngFor="let option of options"
        class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer"
        (click)="selectOption(option)"
      >
        {{ option }}
      </div>
    </div>
  </div>

  <!-- Helper/Error -->
  <div *ngIf="helperText && !showError" class="text-xs text-gray-400 mt-1">
    {{ helperText }}
  </div>
  <div *ngIf="showError" class="text-xs text-red-500 mt-1" role="alert">
    <ion-icon name="alert-circle" class="mr-1 text-sm mt-1"></ion-icon>
    {{ getErrorMessage() }}
  </div>
</div>
