<ion-content class="bg-white relative">
  <!-- ✅ Step Components -->
  <ng-container [ngSwitch]="currentStep">
    <app-personal-info-form *ngSwitchCase="1" (formSubmitted)="nextStep()"></app-personal-info-form>

    <app-email-verification
      *ngSwitchCase="2"
      [step]="2"
      [totalSteps]="3"
      (verified)="nextStep()"
      (goBack)="prevStep()"
    ></app-email-verification>

    <app-custom-drone-details
      *ngSwitchCase="3"
      (formSubmitted)="nextStep()"
      (goBack)="prevStep()"
    ></app-custom-drone-details>
  </ng-container>
</ion-content>
