.border-1{
  border:   1px solid #009169;
}
/* Hide spinner arrows for Chrome, Safari, Edge */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide spinner arrows for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input.ng-valid.ng-touched {
  background-color: #22c55e; // â† green
}
