
/* Hide spinner arrows for Chrome, Safari, Edge */
::ng-deep input[type="number"]::-webkit-inner-spin-button,
::ng-deep input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

::ng-deep input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


input.ng-valid.ng-touched {
  background-color: #22c55e; // â† green
}
.border-1{
  border:   1px solid #009169;
}
