<!-- BACKDROP for Mobile -->
<div
  *ngIf="isMobile && isSidebarOpen"
  class="fixed inset-0 z-40 bg-black bg-opacity-50 transition-opacity duration-300"
  (click)="layoutService.closeSidebar()">
</div>

<!-- SIDEBAR -->
<aside
  class="bg-[#003224] text-white h-full flex flex-col justify-between p-4 min-h-screen
         fixed md:relative z-50 transition-transform duration-300 ease-in-out"
  [ngClass]="{
    'w-64 -translate-x-full md:translate-x-0 md:w-64': isMobile && !isSidebarOpen,
    'w-64 translate-x-0': isMobile && isSidebarOpen,
    'md:translate-x-0': !isMobile
  }"
>

  <!-- Header -->
  <div>
    <div class="text-2xl font-bold mb-10 mt-3 items-center gap-2 mx-auto">
      <img src="../../../assets/logo.png" class="mx-auto" alt="" />
      <span class="text-4xl mx-4 font-sans">DroneLeaf</span>
      <p class="text-[12px] text-center font-light">Unlimited Autonomy</p>
    </div>

    <!-- Navigation -->
    <nav class="flex flex-col gap-4">
      <a
        *ngFor="let item of sidebarItems"
        [routerLink]="item.link"
        routerLinkActive="bg-[#99D3C3] text-black"
        class="flex items-center gap-3 px-4 py-2 rounded hover:bg-[#0d3f3d] transition"
        (click)="handleMenuClick()">
        <img [src]="item.iconPath" alt="icon" class="w-[17px] h-[17px]" />
        <span>{{ item.label }}</span>
      </a>
    </nav>
  </div>

  <!-- Logout -->
  <div>
    <a
      (click)="logout()"
      class="flex items-center gap-3 p-2 mt-8 rounded text-red-300 hover:text-white hover:bg-red-600 cursor-pointer">
      <span>🚪 Log Out</span>
    </a>
  </div>
</aside>
