<div class="flex flex-col md:flex-row h-[96vh] text-black">
  <!-- Main Left -->
  <div class="flex-1 px-6 md:px-6 pt-8 pb-4 flex flex-col justify-between">

    <!-- Top Header -->
    <div class="flex justify-between items-center py-4">
      <img src="../../../../../assets/svgs/private/Group 1597881310.svg" alt="DroneLeaf Logo" class="h-14" />
      <app-help-button></app-help-button>
    </div>

    <!-- Main Content Area (Centered) -->
    <div class="flex-1 flex flex-col">
      <!-- Title -->
      <div class="w-full mb-6">
        <h2 class="text-xl font-semibold text-gray-800">
          Establish first time Connection to Companion Computer (CC) and PX4 sub-process
        </h2>
      </div>

      <!-- Step 1 Box -->
      <div class="border border-gray-300 rounded-lg p-6  w-full">
        <h3 class="font-semibold text-sm text-gray-700 mb-1">
          Step 1: Enter Companion Computer (CC) IP Address
        </h3>
        <p class="text-xs text-gray-500 mb-4">
          To establish the connection, please enter the IP Address of the Companion Computer (CC).
        </p>

        <label class="text-[#3A3B3E] text-sm">IP Address of CC</label>
        <div class="flex items-center border border-[#009169] rounded-md overflow-hidden w-full">
          <input type="text" class="flex-1 px-4 py-2 bg-white text-sm outline-none" placeholder="Enter IP Address of CC"
            [formControl]="ipControl" />

          <button [disabled]="form.get('ip')?.invalid" (click)="openDashboard()"
            class="bg-[#009169] text-white text-sm px-4 py-2 h-full transition disabled:opacity-60 disabled:cursor-not-allowed">
            Open CC Dashboard on a New Window
          </button>
        </div>



        <!-- Warning Alert -->
        <div class="border border-yellow-400 bg-[#FFF6D6] rounded-md p-3 flex gap-2 items-start mt-3">
          <span class="text-[1rem]">⚠️</span>
          <p class="text-sm  mt-2">
            This IP address should be accessible over your network. If you're unsure, check the drone’s setup manual.
          </p>
        </div>
      </div>


      <div class="border border-gray-300 rounded-lg p-6  w-full mt-3">
        <h3 class="font-semibold text-sm text-gray-700 mb-1">
          Step 2: Paste the Machine ID
        </h3>
        <p class="text-xs text-gray-500 mb-4">
          To establish the connection with the CC please paste the Machine ID below.
        </p>
        <div class="mt-2">

          <label class="text-[#3A3B3E] text-sm">Machine ID</label>
          <div class="flex items-center border border-[#009169] rounded-md overflow-hidden w-full">
            <input type="text" class="flex-1 px-4 py-2 bg-white text-sm outline-none"
              placeholder="Enter IP Address of CC" [formControl]="machineIdControl" (click)="generateApiKey()" />

            <button [disabled]="form.get('ip')?.invalid" (click)="openDashboard()"
              class="bg-[#009169] text-white text-sm px-4 py-2 h-full transition disabled:opacity-60 disabled:cursor-not-allowed">
              Generate API Key
            </button>
          </div>
        </div>


        <div class="mt-2">
          <label class="text-[#3A3B3E] text-sm mr-2">API Key</label>
          <div class="flex items-center border border-[#009169] rounded-md overflow-hidden w-full">
            <input type="text" #apiInput class="flex-1 px-4 py-2 bg-white text-sm outline-none"
              placeholder="Enter API Key" [formControl]="apiKeyControl" />

            <button (click)="copyApiKey(apiInput)"
              class="flex items-center bg-white text-sm px-4 py-2 h-full transition disabled:opacity-60 disabled:cursor-not-allowed"
              style="border-left: 1px solid #009169;">
              <svg class="w-5 mr-1" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.6673 8.60065V11.4007C10.6673 13.734 9.73398 14.6673 7.40065 14.6673H4.60065C2.26732 14.6673 1.33398 13.734 1.33398 11.4007V8.60065C1.33398 6.26732 2.26732 5.33398 4.60065 5.33398H7.40065C9.73398 5.33398 10.6673 6.26732 10.6673 8.60065Z"
                  fill="#009169" />
                <path
                  d="M11.3998 1.33398H8.59984C6.67914 1.33398 5.71152 1.97092 5.42907 3.49325C5.32748 4.04082 5.79484 4.50065 6.35175 4.50065H7.39984C10.1998 4.50065 11.4998 5.80065 11.4998 8.60065V9.64875C11.4998 10.2057 11.9597 10.673 12.5072 10.5714C14.0296 10.289 14.6665 9.32135 14.6665 7.40065V4.60065C14.6665 2.26732 13.7332 1.33398 11.3998 1.33398Z"
                  fill="#009169" />
              </svg>

              Copy API Key
            </button>
          </div>
        </div>
        <!-- Warning Alert -->
        <div class="border border-yellow-400 bg-[#FFF6D6] rounded-md p-3 flex gap-2 items-start mt-3">
          <span class="text-[1rem]">⚠️</span>
          <p class="text-sm  mt-2">
            Do not share this key. It links your drone securely to DroneLeaf.
          </p>
        </div>
      </div>

      <!-- Connection Successful Box -->
      <div *ngIf="apiKeyControl.value" class="bg-[#ccf8e0] border border-[#1BAF5D] text-green-800 rounded-lg p-4 mt-5">
        <h3 class="font-semibold">Connection Successful!</h3>
        <p class="text-sm">Your Companion Computer has been successfully linked. You can now continue your setup.</p>
      </div>

    </div>
    <hr>
    <!-- Bottom Buttons (Sticky at Bottom) -->
    <div class="pt-6  flex flex-col md:flex-row justify-between items-center gap-4">
      <button type="button"
        class="bg-red-600 text-white font-semibold py-2 px-6 rounded-md hover:bg-red-700 w-full md:w-auto"
        (click)="cancel.emit()">
        Cancel
      </button>

      <div class="flex gap-4 w-full md:w-auto">
        <button
          class="border border-[#009169] text-gray-700 font-semibold py-2 px-6 rounded-md hover:bg-gray-100 w-full md:w-auto"
          style="border: 1px solid #009169;" (click)="back.emit()">
          Back
        </button>
        <button class="bg-[#009169] text-white font-semibold py-2 px-6 rounded-md hover:bg-[#007e57] w-full md:w-auto"
          (click)="next.emit()">
          Continue
        </button>
      </div>
    </div>
  </div>

  <!-- Right Sidebar Stepper -->
  <div class="w-full md:w-96 bg-[#cce9e1] p-6 flex flex-col justify-between">
    <app-add-drone-stepper [steps]="steps" [currentStepIndex]="currentStepIndex"></app-add-drone-stepper>

    <div class="mt-8">
      <h4 class="text-[22px] font-semibold text-gray-800 mb-1">Add A Drone</h4>
      <p class="text-[16px] text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
  </div>
</div>
